:root {
    --midnight-green: #014e56;
    --light-coral: #f67e7e;
    --white: #ffffff;
    --rapture-blue: #79c8c7;
    --police-blue: #2c6269;
    --deep-jungle-green: #004047;
    --sacramento-state-green: #012f34;
    --dark-green: #002529;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Livvic', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: var(--white);
    background-color: var(--midnight-green);
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

button {
    background: none;
    border: none;
    font-family: 'Livvic', sans-serif;
    cursor: pointer;
}

.h1-large {
    font-size: 100px;
    line-height: 100px;
    font-weight: bold;
}

.h1-small {
    font-size: 64px;
    line-height: 56px;
}

h2 {
    font-size: 48px;
    line-height: 48px;
}

h3 {
    font-size: 18px;
    line-height: 28px;
}

.container {
    padding-right: 18px;
    padding-left: 18px;
}

/* nav styling */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 42px 24px 18px 24px;
}

.nav-link li a:hover {
    color: var(--light-coral);
}

.hamburger {
    display: none;
    position: relative;
}

.icon-hamburger {
    position: absolute;
    right: 0;
    top: -10px;
}

.icon-hamburger,
.icon-close {
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.overlay.show {
    display: block;
}

.nav-link__button {
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
    border: 2px solid var(--white);
    padding: 8px 18px;
    border-radius: 25px;
}

.nav-link__button:hover {
    color: var(--dark-green);
    background-color: var(--white);
}

/* header styling */
.header {
    text-align: center;
    height: 400px;
    background-image: url(../assets/bg-pattern-home-2.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.header__intro {
    margin-top: 50px;
}

.header__intro-span {
    color: var(--light-coral);
}

/* main styling */

/* build-and-manage styling */

.build-and-manage {
    background-image: url(../assets/bg-pattern-home-3.svg);
    background-repeat: no-repeat;
    background-position: top right -100px;
    background-color: var(--sacramento-state-green);
    padding-top: 95px;
    padding-bottom: 25px;
}

.build-manage-one {
    position: relative;
}

.build-manage-one::before {
    content: "";
    position: absolute;
    top: -40px;
    width: 50px;
    height: 3px;
    background-color: var(--light-coral);
}

.build-manage-one h1 {
    margin-top: 0;
    width: 240px;
}

.build-manage-two {
    text-align: center;
}

.build-manage-two h3 {
    color: var(--light-coral);
    margin-bottom: 10px;
}

.build-manage-two>div {
    padding: 24px 0 18px 0;
}

.experienced__para p,
.easy__para p,
.enhanced__para p {
    margin-top: 0;
}

/* real-results styling */
.real-results {
    text-align: center;
    padding-top: 95px;
    padding-bottom: 125px;
    background-image: url(../assets/bg-pattern-home-4-about-3.svg),
        url(../assets/bg-pattern-home-5.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.real-results__head {
    width: 327px;
    padding-top: 20px;
}

.real-results__head span {
    color: var(--rapture-blue)
}

/* .real-results__testimonies styling */
.real-results__testimonies>div {
    padding: 60px 0 15px 0;
}

.real-results__testimonies h3 {
    color: var(--rapture-blue);
    margin-bottom: 0;
}

.kady__testimony,
.aiysha__testimony,
.arthur__testimony {
    background-image: url(../assets/icon-quotes.svg);
    background-repeat: no-repeat;
    background-position: center 35px;
    ;
}

.kady__testimony__img,
.aiysha__testimony__img,
.arthur__testimony__img {
    width: 62px;
    height: 62px;
    margin: auto;
}

.kady__testimony__img img,
.aiysha__testimony__img img,
.arthur__testimony__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--rapture-blue);
}

.kady__testimony__para,
.aiysha__testimony__para,
.arthur__testimony__para {
    font-weight: 600;
}

.position {
    margin-top: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
}

/* article styling */
article {
    background-color: var(--light-coral);
}

.get-started {
    display: grid;
    place-content: center;
    height: 302px;
    color: var(--dark-green);
    text-align: center;
    background-image: url(../assets/bg-pattern-home-6-about-5.svg);
    background-repeat: no-repeat;
    background-position: left bottom -20px;
}

.get-started__header {
    width: 327px;
}

.get-started__header h2 {
    margin: 0 0 15px 0;
}

.article__button {
    font-weight: 600;
    font-size: 18px;
    border: 3px solid var(--dark-green);
    border-radius: 20px;
    padding: 8px 15px;
}

.article__button:hover {
    color: var(--white);
    background-color: var(--dark-green);
}


/* footer styling */
footer {
    background-color: var(--dark-green);
    text-align: center;
    padding: 65px 0 45px 0;
}

.footer__logo img {
    width: 96px;
    height: 24px;
}

.footer__link ul {
    display: flex;
    justify-content: center;
}

.footer__link li {
    padding: 0 18px 12px 18px;
}

.footer__link li a:hover {
    color: var(--light-coral);
}

.footer__link a {
    font-weight: 600;
}

.footer__address,
.footer__copyright {
    font-weight: 600;
    opacity: 60%;
}

.footer__social img {
    padding: 8px;
    cursor: pointer;
}

.footer__social img:hover {
    filter: invert(64%) sepia(82%) saturate(2137%) hue-rotate(315deg) brightness(107%) contrast(93%);
}

.footer__social-and-copyright {
    padding-top: 18px;
}


@media(max-width: 550px) {
    .hamburger {
        display: block;
        z-index: 3;
    }

    .icon-close {
        display: none;
    }

    .icon-close.show {
        display: block;
    }

    .logo img {
        height: 32px;
        width: 127.96px;
    }

    .nav-link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 70%;
        height: 100%;
        z-index: 3;
        padding: 80px 0 0 50px;
        background-color: var(--police-blue);
        background-image: url(../assets/bg-pattern-about-1-mobile-nav-1.svg);
        background-repeat: no-repeat;
        background-position: bottom right -100px;
        transform: translate(120%);
        transition: 0.5s ease;
    }

    .nav-link li a {
        font-weight: 600;
        font-size: 18px;
    }

    .nav-link li {
        padding-bottom: 22px;
    }

    .nav-link li:nth-last-child(2) {
        padding-bottom: 45px;
    }

    .nav-link li:last-child a {
        border: 1px solid var(--white);
        padding: 10px 28px 10px 28px;
        border-radius: 20px;
    }

    .h1-large {
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
    }

    .h1-small {
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
    }

    h2 {
        font-size: 32px;
        line-height: 32px;
        font-weight: 700;
    }

    body {
        font-size: 15px;
        line-height: 25px;
    }
}


/* tablet */
@media(min-width: 551px) and (max-width: 1024px) {
    .h1-small {
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
    }

    h2 {
        font-size: 32px;
        line-height: 32px;
        font-weight: 700;
    }

    body {
        font-size: 15px;
        line-height: 25px;
    }

    .container {
        padding-right: 32px;
        padding-left: 32px;
    }

    /* nav styling */
    .nav {
        padding: 35px 24px 18px 24px;
    }

    .logo img {
        width: 128px;
        height: 32px;
        margin-right: 25px;
    }

    .nav-link {
        width: 100%;
    }

    .nav-link ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
    }

    .nav-link ul li {
        padding: 0 25px;
    }

    .nav-link li:last-child {
        margin-left: auto;
    }

    /* header styling */
    .header {
        height: 500px;
        background-position: bottom;
    }

    .header__intro h1 {
        font-size: 64px;
        line-height: 56px;
        margin: 100px 0 18px 0;
    }

    .header__intro-para {
        width: 457px;
        margin: auto;
    }

    /* main styling */

    /* build-and-manage styling */
    .build-and-manage {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .build-manage-one h1 {
        width: 445px;
    }

    .experienced,
    .easy,
    .enhanced {
        display: flex;
        align-items: center;
        text-align: left;
    }

    .experienced__para,
    .easy__para,
    .enhanced__para {
        width: 478px;
    }

    .experienced__img,
    .easy__img,
    .enhanced__img {
        padding-right: 18px;
    }

    /* real-results styling */
    .real-results__head {
        width: 500px;
        margin: auto;
    }

    .kady__testimony,
    .aiysha__testimony,
    .arthur__testimony {
        width: 75%;
        margin: auto;
    }

    /* article styling */
    .get-started {
        grid-template-columns: 2fr 1fr;
        grid-gap: 18px;
        align-items: center;
        height: 200px;
    }

    .get-started__header h2 {
        margin: 0;
    }

    .get-started__header {
        width: 100%;
    }

    .get-started__contact h3 {
        margin: 0;
    }

    /* footer styling */
    footer {
        padding: 45px 0 35px 0;
    }

    .footer {
        display: grid;
        grid-gap: 18px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: left;
    }

    .footer__logo {
        margin-bottom: 22px;
    }

    .footer__logo-and-link {
        justify-self: flex-start;
        display: flex;
        flex-direction: column;
    }

    .footer__link ul li {
        padding-bottom: 0;
    }

    .footer__link ul li:first-child {
        padding-left: 0;
    }

    .footer__address {
        justify-self: flex-end;
        text-align: right;
    }

    .footer__address p {
        margin: 0;
    }

    .footer__social-and-copyright {
        grid-row: 2;
        grid-column: 1 / -1;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0;
    }

    .footer__social img:first-child {
        padding-left: 0;
    }
}

/* desktop - laptop version */
@media(min-width: 1025px) {
    .container {
        max-width: 1124px;
        margin: auto;
        padding-right: 0;
        padding-left: 0;
    }

    /* nav styling */

    .nav {
        padding: 35px 0 18px 0;
    }

    .logo img {
        width: 160px;
        height: 40px;
        margin-right: 25px;
    }

    .nav-link {
        width: 100%;
    }

    .nav-link ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
    }

    .nav-link ul li {
        padding: 0 25px;
    }

    .nav-link ul li:last-child {
        margin-left: auto;
    }

    /* header styling */
    header {
        background: url(../assets/bg-pattern-home-1.svg);
        background-repeat: no-repeat;
        background-position: left 115px;
        background-position-x: -98px;

    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 550px;
        text-align: left;
        background-position: bottom right;
    }

    .header__intro {
        align-self: flex-start;

    }

    .header__intro-para {
        width: 445px;
        position: relative;
    }

    .header__intro-para::before {
        content: "";
        position: absolute;
        top: -78px;
        width: 35px;
        height: 3px;
        background-color: var(--rapture-blue);

    }

    /* main styling */

    /* build-manage styling */
    .build-manage {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .build-and-manage {
        display: flex;
        height: 684px;
        padding: 0;
        background-position: bottom right -100px;

    }

    .build-manage-two {
        justify-self: flex-end;
    }

    .build-manage-one h1 {
        width: 445px;
        font-size: 48px;
        line-height: 48px;
        font-weight: 700;
    }

    .build-manage-two>div {
        padding: 10px 0 10px 10px;
    }

    .experienced,
    .easy,
    .enhanced {
        display: flex;
        align-items: center;
        text-align: left;
    }

    .experienced__para,
    .easy__para,
    .enhanced__para {
        width: 478px;
    }

    .experienced__para p,
    .easy__para p,
    .enhanced__para p {
        width: 478px;
        margin: 0;
        font-size: 15px;
    }

    .experienced__img,
    .easy__img,
    .enhanced__img {
        padding-right: 18px;
    }

    /* real-results styling */
    .real-results__head {
        width: 932px;
        margin: auto;
    }

    .real-results__testimonies {
        display: grid;
        grid-gap: 24px;
        grid-template-columns: repeat(3, 1fr);
    }

    .kady__testimony__para,
    .aiysha__testimony__para,
    .arthur__testimony__para {
        font-size: 15px;
    }

    .postion {
        font-size: 13px;
    }

    /* article styling */
    article {
        background: url(../assets/bg-pattern-home-6-about-5.svg);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-color: var(--light-coral);
    }

    .get-started {
        display: grid;
        grid-template-columns: 2fr 1fr;
        background-image: none;
        height: 200px;
    }

    .get-started__header {
        width: 100%;
    }

    .get-started__header h2 {
        margin: 0;
    }

    /* footer styling */
    footer {
        padding: 24px 0;
        text-align: left;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer__logo img {
        width: 160px;
        height: 40px;
    }

    .footer__link ul {
        margin: 0;
    }

    .footer__link li:first-child {
        padding-left: 0;
    }

    .footer__link li {
        padding: 25px 18px 0 0;
    }

    .footer__social-and-copyright {
        text-align: right;
    }

    .footer__address {
        margin-right: auto;
        font-size: 15px;
        margin-left: 120px;
    }

    .footer__address p {
        margin: 0;
    }

    .footer__copyright {
        font-size: 15px;
    }

}